<!-- Container-1 : Carousel -->
<div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-keyborad="true" data-pause="false">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../assets/black-panther.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Black Panther
                <span class="badge badge-secondary">HD</span>
              </h5>
              <p>NOW AVAILABLE @ 3.99</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/black-panther.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Black Panther
                <span class="badge badge-secondary">FULL HD</span>
              </h5>
              <p>NOW AVAILABLE @ 7.99</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../assets/black-panther.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h5>Black Panther
                <span class="badge badge-secondary">BLURAY</span>
              </h5>
              <p>NOW AVAILABLE @ 9.99</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Container 2 : Popular Elements : Cards -->
  <div class="row mt-lg-4 d-flex justify-content-center">
    <div class="h4 col-12" data-toggle="collapse" data-target=".multi-collapse" 
      aria-expanded="true" aria-controls=".multi-collapse" style="
      color: darkblue;"> Popular Movies :</div>
    <div class="col-xs-3 p-3 multi-collapse">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3 multi-collapse">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3 multi-collapse">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3 multi-collapse">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3 multi-collapse">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="h5 col-12 text-right multi-collapse"> <a href="">View more</a></div>

    <!-- <div class="card p-2">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div> -->

  </div>

  <!-- Container 2 : Trending Elements : Cards -->
  <div class="row mt-lg-4 d-flex justify-content-center">
    <div class="h4 col-12">Trending Movies :</div>

    <div class="col-xs-3 p-3">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="col-xs-3 p-3">
      <div class="card text-right text-white">
        <img class="card-img-top" src="../../assets/bp-thumbnail.jpeg" alt="Card image cap">
        <div class="card-img-overlay">
          <h5 class="card-title">Black Panther</h5>
          <p class="card-text">Disney Presentation</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="h5 col-12 text-right"> <a href="">View more</a></div>

  </div>